[submodule "kubernetes-vault/consul-helm"]
	path = kubernetes-vault/consul-helm
	url = https://github.com/hashicorp/consul-helm.git
[submodule "kubernetes-vault/vault-helm"]
	path = kubernetes-vault/vault-helm
	url = https://github.com/hashicorp/vault-helm.git
[submodule "kubernetes-vault/vault-guides"]
	path = kubernetes-vault/vault-guides
	url = https://github.com/hashicorp/vault-guides.git
